In [3]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))
#printmd('**bold**')

In [5]:
data_path = "test_data_set.csv"

In [6]:
data_raw = pd.read_csv(data_path)

In [7]:
data_raw.shape

(949, 5)

In [8]:
print("Number of rows in data =",data_raw.shape[0])
print("Number of columns in data =",data_raw.shape[1])
print("\n")
printmd("**Sample data:**")
data_raw.head()

Number of rows in data = 949
Number of columns in data = 5

**Sample data:**

,Title,Tags,Content,Unnamed: 3,Unnamed: 4
0,Two Sum,"Array,Hashtable","Given an array of integers, return indices of ...",NaN,Dynamic Programming
1,Add Two Numbers,"Linked list ,Math",You are given two non-empty linked lists repre...,NaN,String
2,Longest Substring Without Repeating Characters...,"Hash Table,Two pointers,String","Given a string, find the length of the longest...",NaN,Math
3,Median of Two Sorted Arrays,"Array, Binary Search, Divide and Conquer",There are two sorted arrays nums1 and nums2 of...,NaN,Tree
4,Longest Palindromic Substring,"String, Dynamic Programming","Given a string s, find the longest palindromic...",NaN,Hash Table

In [10]:
missing_values_check = data_raw.isnull().sum()
print(missing_values_check)

Title           0
Tags           70
Content         6
Unnamed: 3    949
Unnamed: 4    914
dtype: int64

In [12]:
rowSums = data_raw.iloc[:,2:].sum(axis=1)
clean_comments_count = (rowSums==0).sum(axis=0)

print("Total number of comments = ",len(data_raw))
print("Number of clean comments = ",clean_comments_count)
print("Number of comments with labels =",(len(data_raw)-clean_comments_count))

Total number of comments =  949
Number of clean comments =  949
Number of comments with labels = 0